.topheader{/*las propiedades width y height no funcionan aqui por que ya estan en el html*/
box-shadow: 0 4px 5px var(--navbar-shallow-color);/*crea una sombra en esa caja, se describe por los desplazamientos en X e Y, los radios de desenfoque y dispersión, y el color relativos al elemento. */
position:fixed;/*asi queda fijo el header*/
background-color: var(--theme-color);
width: 100%;
left:0;
top:0;
}
.topnav{
display: flex;
justify-content: space-between;
padding: 10px;
max-width: 980px;/*muy importante,ancho maximo que va a tener, de ahi para arriba el contenido no cambia se mantiene estatico , cambia antes de los 980px*/
margin: 0 auto;/*importante ,segun manecillas del reloj*//*lorem4000 para pruebas de scroll*/
}

/*Logo*/
.logo{
display: flex;
align-items: center;
font-size: 18px;
font-weight: 500;
color :var(--primary-color);
}
/*tambien puedo dar estilos a una clase por una etiqueta*/
.logo img{
    border-radius: 50px;
    
}
/* Menu */
.menu{
display: flex;
list-style: none;/*para no mostrar ningun marcador en los elementos de la lista*/
margin: 0;
padding: 0;

}
.menu li{
padding: 0 15px;/* de arriba y abajo 0 px,  e izquierda y derecha 15 px*/
}

.menu a{
color: var(--text-color);
font-size: 18px;
font-weight: 500;
line-height: 50px;/*se usa para establecer la distancia entre lineas de texto, a esa altura*/
text-transform: uppercase;/*Texto en mayuscula */
}

.open-menu,
.close-menu{
display: none;/*para que no se vean los botones*/
}

/*media queries*/
@media (max-width: 950px){
 /*body{
     background-color: blue;/*debi quitar la variable css del main por que no funcionaba, si tiene menos de 950px aplica(0-950), si no no aplica(951-2000), maximo ancho hasta donde aplica, maximo debe llegara a 950 para aplicar
    }*/

        /* Menu */
        .menu{
        flex-direction: column;
        position: fixed;
        left: 0; /*para aquellos que tienen una posicion,determina la distancia entre el margen izquierdo del elemento y el borde izquierdo de su bloque contenedor.*/
        top: 0;/* determina la distancia entre el borde superior del elemento y el borde superior del bloque que lo contiene.*/
        width: 100%;
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;/*cuando mi contenido este apretado me crea un scroll */
        opacity: 0;/* 0 es transparente y 1 es que se vea 100% esta es la opacidad, la usamos para cuadra el padding*/
        pointer-events: none;/*para no darle click a los elementos*/
        transition: opacity 0.3s;/*muestra un pequeño retardo en aplicarse la opacidad*/
        }

        .menu li{
        padding: 0;
        }
        
        .menu a{
        color: var(--text-color-inverse);
        line-height: 60px;

        }
        
        .open-menu,
        .close-menu{
        display: block;/*muestra el elemento como bloque*/
        }

        .close-menu{
            align-self: flex-end;
            border:none;/*quitamos los estilos del boton con none*/
            background: none;
            cursor: pointer;/*crea un puntero al estar sobre el elemento*/
            padding:20px 15px;
        }
        .menu_opened{/*creamos un modificador bem*/
            opacity: 1;
            pointer-events: all;


        }
}